div
{
    color : rebeccapurple;
}
body {
    color:black;
    background-color:red;
    background-image:url(\IssamELO\premierSite\IMG\futur-crypto.jpg);
    background-repeat:no-repeat;
}
